

* {
  /* CSS HEX */
--white: #ffffffff;
--tan: #ddbc97ff;
--dark-sea-green: #a1c097ff;
--dark-sea-green-2: #7eaf81ff;
  /* border: 1px solid black; */
}

body {
  background-color: var(--dark-sea-green);
}

.banner-top {
  height: 30vh;
  background-color: var(--tan);
  border-color: var(--dark-sea-green-2) !important;
}

#header-logo {
  z-index: 2;
}

#header-banner {
  z-index: 1;
  min-height: 35rem !important;
  min-width: 75rem !important;
  margin-top: -25rem;
}

#logo-badge {
  height: 10rem;
}

/* .hero-img {
  min-height: 35rem !important;
  min-width: 75rem !important;
} */

.itinerary-section {
  /* border-right: 1px solid black;
  border-left: 1px solid gray; */
  background-color: var(--dark-sea-green) ;
}

.scrollable-menu {
  height: auto;
  max-height: 45rem;
  overflow-x: hidden;
  background-color: var(--dark-sea-green-2);
  
}

.data-col {
  background-color: var();
}

button {
  background-color: var(--dark-sea-green-2) !important;
}

