

* {
  /* CSS HEX */
--white: #ffffffff;
--tan: #ddbc97ff;
--dark-sea-green: #a1c097ff;
--dark-sea-green-2: #7eaf81ff;
  /* border: 1px solid black; */
}

body {
  background-color: var(--dark-sea-green);
}

.banner-top {
  height: 25vh;
  background-color: var(--tan);
  border-color: var(--dark-sea-green-2) !important;
}

.hero-img {
  min-height: 35rem !important;
  min-width: 75rem !important;
}

.itinerary-section {
  /* border-right: 1px solid black;
  border-left: 1px solid gray; */
  background-color: var(--dark-sea-green) ;
}

.data-col {
  background-color: var();
}

button {
  background-color: var(--dark-sea-green-2) !important;
}

.parks-image-container {
  overflow: hidden;

  
}

.parks-image {
  background-repeat: no-repeat;
  background-size: contain;
  /* background-position: center; */
}